        @import url('https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA');
        .lst-kix_mw2qsms2kyvg-8>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-6>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-5>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-0>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-7>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-0>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-4>li:before {
            content: "\00274f  "
        }
        
        ul.lst-kix_ibolo5gc5u9w-0 {
            list-style-type: none
        }
        
        ul.lst-kix_ibolo5gc5u9w-1 {
            list-style-type: none
        }
        
        ul.lst-kix_ibolo5gc5u9w-2 {
            list-style-type: none
        }
        
        .lst-kix_mw2qsms2kyvg-2>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-1>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-1>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-5>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_mw2qsms2kyvg-4>li:before {
            content: "\00274f  "
        }
        
        ul.lst-kix_ibolo5gc5u9w-7 {
            list-style-type: none
        }
        
        ul.lst-kix_ibolo5gc5u9w-8 {
            list-style-type: none
        }
        
        .lst-kix_ibolo5gc5u9w-2>li:before {
            content: "\00274f  "
        }
        
        ul.lst-kix_ibolo5gc5u9w-3 {
            list-style-type: none
        }
        
        ul.lst-kix_ibolo5gc5u9w-4 {
            list-style-type: none
        }
        
        .lst-kix_mw2qsms2kyvg-3>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-3>li:before {
            content: "\00274f  "
        }
        
        ul.lst-kix_ibolo5gc5u9w-5 {
            list-style-type: none
        }
        
        ul.lst-kix_ibolo5gc5u9w-6 {
            list-style-type: none
        }
        
        .lst-kix_at11733hvyjp-2>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-1>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-0>li:before {
            content: "\00274f  "
        }
        
        ul.lst-kix_at11733hvyjp-7 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-6 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-5 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-4 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-8 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-3 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-2 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-1 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-0 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-7 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-6 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-5 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-4 {
            list-style-type: none
        }
        
        ul.lst-kix_mw2qsms2kyvg-8 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-3 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-2 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-1 {
            list-style-type: none
        }
        
        ul.lst-kix_at11733hvyjp-0 {
            list-style-type: none
        }
        
        .lst-kix_at11733hvyjp-3>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-4>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-6>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-8>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-5>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-7>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-6>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_ibolo5gc5u9w-7>li:before {
            content: "\00274f  "
        }
        
        .lst-kix_at11733hvyjp-8>li:before {
            content: "\00274f  "
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        .c9 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 109.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c19 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 80.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c7 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 38.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c45 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #d9ead3;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 80.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c11 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 80.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c36 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 53.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c53 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 53.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c29 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 324pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c24 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 486pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c13 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 38.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c27 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #d9ead3;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 324pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c28 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #fce5cd;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 53.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c44 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #cfe2f3;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c40 {
            border-right-style: solid;
            padding: 19.8pt 19.8pt 19.8pt 19.8pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 486pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c59 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #cfe2f3;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 38.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c0 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 109.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c62 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #d9ead3;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 161.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c51 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #fce5cd;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 109.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c43 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 81pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c48 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #fce5cd;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162.8pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c5 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 81pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c14 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 162pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            direction: ltr;
            height: 11pt
        }
        
        .c3 {
            padding-top: 0pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            direction: ltr
        }
        
        .c23 {
            color: #1f497d;
            font-weight: normal;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }
        
        .c8 {
            padding-top: 0pt;
            padding-bottom: 12pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: left;
            direction: ltr
        }
        
        .c1 {
            color: #555555;
            font-weight: normal;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }
        
        .c41 {
            margin-left: 5pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            direction: ltr
        }
        
        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            direction: ltr;
            height: 11pt
        }
        
        .c34 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: center;
            direction: ltr
        }
        
        .c32 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center;
            direction: ltr
        }
        
        .c31 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            text-align: left;
            direction: ltr
        }
        
        .c58 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            direction: ltr
        }
        
        .c38 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 27pt;
            font-style: normal
        }
        
        .c22 {
            font-weight: normal;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 19pt;
            font-style: normal
        }
        
        .c46 {
            text-decoration: none;
            vertical-align: baseline;
            font-size: 27pt;
            font-style: normal
        }
        
        .c33 {
            font-weight: normal;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }
        
        .c10 {
            font-family: "Calibri";
            font-style: italic;
            color: #555555;
            font-weight: bold
        }
        
        .c57 {
            border-collapse: collapse;
			margin: 0 auto;
			width: 55%;
	}
        
        .c17 {
            font-family: "Calibri";
            font-style: italic;
            color: #555555
        }
        
        .c54 {
            font-size: 6pt;
            font-style: normal;
            color: #777777
        }
        
        .c15 {
            background-color: #FAFAFA;
			margin:0;
        }
        
        .c42 {
            color: #000000;
            font-size: 11pt
        }
        
        .c35 {
            padding: 0;
            margin: 0
        }
        
        .c49 {
            color: inherit;
            text-decoration: inherit
        }
        
        .c56 {
            margin-left: 5pt;
            padding-left: 0pt
        }
        
        .c18 {
            color: #555555;
            font-family: "Calibri"
        }
        
        .c60 {
            color: #1155cc;
            text-decoration: underline
        }
        
        .c16 {
            orphans: 2;
            widows: 2
        }
        
        .c25 {
            height: 11pt
        }
        
        .c21 {
            font-size: 7pt
        }
        
        .c20 {
            font-weight: bold
        }
        
        .c52 {
            height: 45pt
        }
        
        .c63 {
            direction: ltr
        }
        
        
        .c47 {
            height: 43pt
        }
        
        .c61 {
            height: 0pt
        }
        
        .c37 {
            color: #1f497d
        }
        
        .c26 {
            font-family: "Calibri"
        }
        
        .c2 {
            height: 39pt
        }
        
        .c55 {
            height: 54pt
        }
        
        .c30 {
            font-size: 14pt
        }
        
        .c39 {
            font-size: 19pt
        }
        
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
		
		li {
			padding-top: 5pt!important;
			
		}